	PREBINDING = NO;
	GCC_WARN_ABOUT_RETURN_TYPE = YES;
	GCC_WARN_UNUSED_VARIABLE = YES;
	GCC_MODEL_TUNING = G5;
	GCC_PRECOMPILE_PREFIX_HEADER = NO;
	GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES;
	GCC_GENERATE_DEBUGGING_SYMBOLS = YES;
	GCC_ENABLE_CPP_EXCEPTIONS = YES;
	GCC_ENABLE_CPP_RTTI = YES;
        OTHER_CFLAGS = -DXP_UNIX
	STANDARD_C_PLUS_PLUS_LIBRARY_TYPE = static;
	GCC_SYMBOLS_PRIVATE_EXTERN = YES;
        WRAPPER_EXTENSION = plugin;
        INTERNET_PLUGINS_PATH = $(HOME)/Library/Internet Plug-Ins
        HEADER_SEARCH_PATHS = . $(SDK_ROOT)/third_party/npapi/bindings $(SDK_ROOT)/third_party/include $(SDK_ROOT)/third_party $(SDK_ROOT)
