# .gitignore -- do not track these files in the repository

# Copyright © 2010 Jan Minář <rdancer@rdancer.org>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 (two),
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

#
# Modified during build process
#

debian/libxmlrpc-c3-dev/DEBIAN/md5sums
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc++.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_abyss.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_client++.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_cpp.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_server++.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_server.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_server_abyss++.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_server_abyss.a
debian/libxmlrpc-c3-dev/usr/lib/libxmlrpc_server_cgi.a
debian/libxmlrpc-core-c3-dev/DEBIAN/md5sums
debian/libxmlrpc-core-c3-dev/usr/lib/libxmlrpc.a
debian/libxmlrpc-core-c3-dev/usr/lib/libxmlrpc_client.a
debian/libxmlrpc-core-c3-dev/usr/lib/libxmlrpc_util.a
debian/libxmlrpc-core-c3-dev/usr/lib/libxmlrpc_xmlparse.a
debian/libxmlrpc-core-c3-dev/usr/lib/libxmlrpc_xmltok.a
debian/tmp/usr/lib/libxmlrpc++.a
debian/tmp/usr/lib/libxmlrpc.a
debian/tmp/usr/lib/libxmlrpc_abyss.a
debian/tmp/usr/lib/libxmlrpc_client++.a
debian/tmp/usr/lib/libxmlrpc_client.a
debian/tmp/usr/lib/libxmlrpc_cpp.a
debian/tmp/usr/lib/libxmlrpc_server++.a
debian/tmp/usr/lib/libxmlrpc_server.a
debian/tmp/usr/lib/libxmlrpc_server_abyss++.a
debian/tmp/usr/lib/libxmlrpc_server_abyss.a
debian/tmp/usr/lib/libxmlrpc_server_cgi.a
debian/tmp/usr/lib/libxmlrpc_util.a
debian/tmp/usr/lib/libxmlrpc_xmlparse.a
debian/tmp/usr/lib/libxmlrpc_xmltok.a
../xmlrpc-c_1.06.27-1ubuntu7_amd64.changes

#
# Auto-generated
#

Makefile.config
config.log
config.status
examples/auth_client
examples/config.h
examples/cpp/meerkat-app-list
examples/cpp/sample_add_client_complex
examples/cpp/xmlrpc_inetd_server
examples/cpp/xmlrpc_loop_server
examples/cpp/xmlrpc_sample_add_client
examples/cpp/xmlrpc_sample_add_server
examples/gen_sample_add_xml
examples/query-meerkat
examples/synch_client
examples/xmlrpc_amconfig.h
examples/xmlrpc_asynch_client
examples/xmlrpc_inetd_server
examples/xmlrpc_loop_server
examples/xmlrpc_sample_add_client
examples/xmlrpc_sample_add_server
examples/xmlrpc_sample_add_server.cgi
examples/xmlrpc_server_validatee
examples/xmlrpc_socket_server
include/xmlrpc-c/config.h
lib/abyss/src/.libs/
lib/abyss/src/conf.lo
lib/abyss/src/conn.lo
lib/abyss/src/data.lo
lib/abyss/src/date.lo
lib/abyss/src/file.lo
lib/abyss/src/http.lo
lib/abyss/src/libxmlrpc_abyss.la
lib/abyss/src/response.lo
lib/abyss/src/server.lo
lib/abyss/src/session.lo
lib/abyss/src/socket.lo
lib/abyss/src/socket_unix.lo
lib/abyss/src/thread_pthread.lo
lib/abyss/src/token.lo
lib/abyss/src/trace.lo
lib/curl_transport/version.h
lib/curl_transport/xmlrpc_curl_transport.lo
lib/expat/gennmtab/gennmtab
lib/expat/xmlparse/.libs/
lib/expat/xmlparse/blddir
lib/expat/xmlparse/libxmlrpc_xmlparse.la
lib/expat/xmlparse/srcdir
lib/expat/xmlparse/xmlparse.lo
lib/expat/xmltok/.libs/
lib/expat/xmltok/libxmlrpc_xmltok.la
lib/expat/xmltok/nametab.h
lib/expat/xmltok/xmlrole.lo
lib/expat/xmltok/xmltok.lo
lib/libutil/.libs/
lib/libutil/blddir
lib/libutil/casprintf.lo
lib/libutil/error.lo
lib/libutil/libxmlrpc_util.la
lib/libutil/make_printable.lo
lib/libutil/memblock.lo
lib/libutil/resource.lo
lib/libutil/sleep.lo
lib/libutil/srcdir
lib/util/casprintf.lo
lib/util/cmdline_parser.lo
lib/util/getoptx.lo
libtool
src/.libs/
src/cpp/blddir
src/cpp/libxmlrpc++.a
src/cpp/libxmlrpc++.so.3.06
src/cpp/libxmlrpc_client++.a
src/cpp/libxmlrpc_client++.so.3.06
src/cpp/libxmlrpc_cpp.a
src/cpp/libxmlrpc_cpp.so.3.06
src/cpp/libxmlrpc_server++.a
src/cpp/libxmlrpc_server++.so.3.06
src/cpp/libxmlrpc_server_abyss++.a
src/cpp/libxmlrpc_server_abyss++.so.3.06
src/cpp/srcdir
src/libxmlrpc.la
src/libxmlrpc_client.la
src/libxmlrpc_server.la
src/libxmlrpc_server_abyss.la
src/libxmlrpc_server_cgi.la
src/registry.lo
src/system_method.lo
src/trace.lo
src/xmlrpc_array.lo
src/xmlrpc_authcookie.lo
src/xmlrpc_base64.lo
src/xmlrpc_builddecomp.lo
src/xmlrpc_client.lo
src/xmlrpc_client_global.lo
src/xmlrpc_data.lo
src/xmlrpc_datetime.lo
src/xmlrpc_expat.lo
src/xmlrpc_parse.lo
src/xmlrpc_serialize.lo
src/xmlrpc_server_abyss.lo
src/xmlrpc_server_cgi.lo
src/xmlrpc_struct.lo
src/xmlrpc_utf8.lo
stamp-h
tools/xml-rpc-api2cpp/blddir
tools/xml-rpc-api2cpp/srcdir
tools/xml-rpc-api2cpp/xml-rpc-api2cpp
tools/xmlrpc/blddir
tools/xmlrpc/config.h
tools/xmlrpc/srcdir
tools/xmlrpc/xmlrpc
tools/xmlrpc_transport/blddir
tools/xmlrpc_transport/config.h
tools/xmlrpc_transport/srcdir
tools/xmlrpc_transport/xmlrpc_transport
transport_config.h
xmlrpc-c-config
xmlrpc-c-config.test
xmlrpc_amconfig.h
xmlrpc_config.h
