Package: xml-rpc-api2cpp
Source: xmlrpc-c
Version: 1.06.27-1ubuntu7
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 120
Depends: libxmlrpc-c3 (= 1.06.27-1ubuntu7), libc6-dev
Section: devel
Priority: optional
Description: Generate C++ wrapper classes for XML-RPC servers
 A utility for generating C++ wrapper classes based on an XML-RPC API,
 obtained by interrogating an XML-RPC server.
 .
 xmlrpc-c homepage: http://xmlrpc-c.sourceforge.net/
Original-Maintainer: Sean Finney <seanius@debian.org>
